* {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #eff4fd;
}

.remove-bullet ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-warna {
  background-color: #212529 !important;
}

.color-bg {
  background-color: #f7f6f5 !important;
}

.control {
  padding-left: 130px !important;
}

.post {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 5px solid #f8f9fa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.profil-border {
  border-radius: 5px;
  border: 10px solid #f8f9fa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.post img {
  max-width: 100%;
}

.post h6 {
  margin-top: 10px;
}

.carousel-item {
  padding: 50px 0;
}

.carousel-item h2 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
}

.carousel-item p {
  font-size: 18px;
}

.color-bg {
  background-color: #343a40;
  padding: 20px;
  border-radius: 10px;
}

#news,
#inspirasi {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.news-item,
.inspirasi-item {
  margin-bottom: 30px;
}

.news-item h3,
.inspirasi-item h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.news-item p,
.inspirasi-item p {
  font-size: 16px;
}

.portfolio-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.portfolio-photo_one,
.portfolio-photo_two {
  flex-basis: calc(50% - 20px);
  margin: 10px;
}

.portfolio-photo_photo {
  position: relative;
  cursor: pointer;
}

.portfolio-photo_photo img {
  max-width: 100%;
}

.icon-plus {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.portfolio-photo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-photo_one {
  flex-basis: calc(50% - 20px);
  margin: 10px;
}

.portfolio-photo_photo {
  position: relative;
  cursor: pointer;
}

.portfolio-photo_photo img {
  max-width: 100%;
}

.icon-plus {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.icon-plus i {
  color: white;
}

.portfolio-photo_photo:hover .icon-plus {
  opacity: 1;
}

.portfolio-photo_photo-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.portfolio-photo_photo-title h5 {
  font-size: 16px;
  margin: 0;
}

.portfolio-photo_photo-title h6 {
  font-size: 12px;
  margin: 0;
}

.portfolio-photo_photo-title p {
  font-size: 12px;
  margin: 0;
}

.portfolio-photo_photo:hover .portfolio-photo_photo-title {
  opacity: 1;
}

section#client {
  text-align: center;
  padding: 30px 0;
}

section#client h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.p-color {
  color: #777;
}

section#client p {
  font-size: 1.2em;
  color: #777;
}

div.image-client img {
  max-height: 1000px;
  margin: 10px;
  opacity: 0.7;
  transition: opacity 0.3s;
  filter: grayscale(100%);
  transition: transform 0.8s;
}

div.image-client img:hover {
  transform: scale(1.1);
  opacity: 1;
  filter: grayscale(0%);
  background-color: #eff4fd;
  border: 5px solid #eff4fd;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.video-title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  background-color: #000;
  border: 5px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Footer */
.background-transparan {
  background: linear-gradient(rgba(45, 59, 80, 0.9), rgba(45, 59, 80, 0.9)), url("../img/building.jpg") fixed center center;
  background-size: cover;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

/* Revisi */
.horizontal-carousel .carousel-inner {
  display: flex;
  flex-direction: row;
}

.horizontal-carousel .carousel-item {
  width: 100%;
}

.horizontal-carousel #imageCarousel {
  width: 100%;
}

.horizontal-carousel .carousel-control-prev,
.horizontal-carousel .carousel-control-next {
  transform: translateY(-50%);
}

/* Hero Sectio */
section.background-atas {
  background-color: #e9f2fe;
  margin-bottom: 5px;
  padding: 50px;
  padding-bottom: 0px;
}

@media (max-width: 768px) {
  .img-responsive {
    width: 35000px;
    max-width: 600px;
    height: auto;
  }
}

/* Typing Javascript */
.container {
  overflow: hidden;
}
.container .text {
  position: relative;
  color: inherit;
}
.container .text.first-text {
  color: inherit;
}
.text.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e9f2fe;
  border-left: 2px solid black;
  animation: animate 4s steps(12) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}

.post-artikel {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 5px;
  border: 5px solid #f8f9fa;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.red {
  color: red;
}

.bi-square-fill {
  color: red;
}

.home-image img {
  width: 550px;
  max-width: 100%;
  border-radius: 40px 0 40px 0;
}

.home-image iframe {
  width: 555px;
  max-width: 100%;
  border-radius: 8px;
  border: 5px solid #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.line {
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #eff4fd;
  box-shadow: 0 0 50px rgba(14, 13, 13, 0.7);
}

.carousel-indicators li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profil-title {
  margin: 0px;
  font-size: 42px;
  line-height: 63px;
}

.float-img img {
  float: right;
  margin: 10px;
  margin-bottom: 5px;
  margin-top: 0px;
  width: 428px;
  height: 600px;
}

.float {
  clear: left;
}

.h3-font {
  font-size: 45px;
}

.hr-title {
  display: inline-block;
  width: 250px;
  margin-left: 2px;
  border-top: 1px solid black;
}
.position-absolute {
  z-index: 1;
}

.zoom {
  overflow: hidden;
}

.zoom img {
  transition: transform 0.5s ease;
  height: auto;
  display: block;
}

.zoom:hover img {
  transform: scale(1.1);
}

/* PopUp VIdeo */
/* PopUp VIdeo */
.headerPopup {
  width: 75%;
  margin: 0 auto;
}

.headerPopup iframe {
  width: 100%;
  margin: 0 auto;
}

.zoom-video {
  position: relative;
  overflow: hidden;
}

.zoom-video img {
  transition: transform 0.5s ease;
  height: auto;
}

.zoom-video:hover img {
  transform: scale(1.03);
}

.play-icon {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.zoom-video:hover .play-icon {
  display: block;
}

.bi-play-fill {
  color: rgba(255, 0, 0, 0.842);
}

.home-image-video img {
  /* width: 555px; */
  max-width: 100%;
  border-radius: 40px 0 40px 0;
}

.frameborder-video {
  position: relative;
  overflow: hidden;
  background-color: #000;
  border: 5px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.frameborder {
  position: relative;
  overflow: hidden;
  background-color: #000;
  border: 5px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.frameborder img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.badge.text-bg-dark {
  bottom: 0;
  left: 0;
  background-color: #343a40;
  padding: 5px;
  margin: 0;
  color: #fff;
}

.initial-profil::first-letter {
  padding-right: 13px;
  -webkit-initial-letter: 2.2;
  initial-letter: 2.2;
}

/* Batas */
:root {
  --primary: #dc3545;
  --secondary: #ffc448;
  --light: #fafafb;
  --dark: #12141d;
  --success: #28a745;
}
/********** Template CSS **********/
.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus,
.btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(2);
    opacity: 0;
  }
}

.btn-play {
  position: relative;
  display: block;
  box-sizing: content-box;
  width: 16px;
  height: 26px;
  border-radius: 100%;
  border: none;
  outline: none !important;
  padding: 18px 20px 20px 28px;
  background: var(--primary);
}

.btn-play:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: var(--primary);
  border-radius: 100%;
  animation: pulse-border 1500ms ease-out infinite;
}

.btn-play:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
  background: #ffffff;
  border-radius: 100%;
  transition: all 200ms;
}

.btn-play span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  left: -1px;
  border-left: 16px solid var(--primary);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:focus {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:active {
  background-color: var(--primary);
  border-color: var(--primary);
}

.back-to-top {
  background-color: var(--primary) !important;
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.btn {
  font-weight: 500;
}

.btn-lg-square {
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

/* End */

/* Batas */
@media only screen and (max-width: 992px) {
  .container .text.sec-text:before {
    border-left: none;
    width: 0px !important;
  }
  .line {
    height: 1px;
  }

  .float-img img {
    float: right;
    margin: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
    width: 428px;
    max-width: 350px;
    height: auto;
  }

  .h3-font {
    font-size: 33.6px;
  }

  .hr-title {
    display: none;
    width: 0px;
    margin-left: 0px;
    border-top: none;
  }
}

@media (max-width: 768px) {
  .img-responsive {
    width: 35000px;
    max-width: 600px;
    height: auto;
  }
  .back-to-top {
    background-color: var(--primary) !important;
    position: fixed;
    display: none;
    right: -45px;
    bottom: -45px;
    z-index: 99;
  }
}
